.wrapper {
 width: 108rem;
 height: 70rem;
 margin: 0 auto;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 0rem;
}

.sideBarText {
  grid-column: 1 / 2;
}

.sideBarImg {
  grid-column: 2 / 3;

}

/* ------ menu ----------*/

.headerContainer {
  display: flex;
  justify-content: space-between;
}

.headerContainer .menu nav {
  margin-right: 6rem;
  margin-top: 4rem;
}
.headerContainer .menu nav ul{
  display: flex;
  list-style: none;
}

.headerContainer .menu nav li {
  font-size: 1.rem;
  font-weight: 700;
  padding: 1rem;
}

.headerContainer .menu nav li::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background: var(--orange-900);
  margin-top: 5px;
}

.headerContainer .menu nav li:hover::after {
  width: 100%;
}

.logo  {
  margin-left: 4rem;
  margin-top: 2.8rem;
}
/* ------------- Fim menu -------------*/

/* ------------- Edição do texto ------------- */

.sideBarText {
  margin-top: 12rem;
  margin-left: 5rem;
}

.sideBarText article {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.sideBarText article h1 {
  font-size: 4rem;
  font-weight: 700;
  width: 32rem;
}

.sideBarText article h1 strong {
  color: var(--orange-900);
}

.sideBarText article p {
  font-size: 1.5rem;
  font-weight: 400;
  width: 42rem;
  text-align: justify;
}

.sideBarText article a {
  align-self: center;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--orange-900);
  border-radius: 5rem;
  padding: 2rem 9rem;
}
/*------------- Fim Edição do texto ------------- */

/*------------- Edição do Produto --------------- */

.sideBarImg {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden
}

.sideBarImg .circle {
  background-color: var(--orange-900);
  width: 86rem;
  height: 58rem;
  border-radius: 100%;
  position: absolute;
  z-index: -1;
  bottom: 0;
  right: 0;
  transform: translate(50%, 30%);
}

.sideBarImg .fanta {
  width: 100%;
  height: 100%;
  position: relative;
}


.sideBarImg .fantaProduto {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 5%;
}

.sideBarImg .laranjasFundo {
  z-index: 1;
  position: absolute;
  top: 50%;
  right: 16%;
}

.sideBarImg .redeSociais{
  display: flex;
  flex-direction: column;
  gap: 2.6rem;
  margin-right: 2.5rem;
}


/*------------- Fim da Edição do Produto --------------- */

/* ------------- Edição de imagens ------------- */
.logo img{
  width: 11rem;
  height: 8rem;
}

.redeSociais img {
  width: 2rem;
  height: 2rem;
}
.fantaProduto {
  width: 40rem;
  height: 41rem;
}

.laranjasFundo {
  width: 19rem;
  height: 19rem;
}